@import "./scss/variables/variables";
.list-loader {
  height: 112px;
  border-radius: 5px;
  border: 1px solid $color-border;
  background-color: $color-loader;
  margin: 1rem auto;
  width: 95%;
  display: grid;
  place-items: center;
}
